/* Fonts */
@import '@fontsource/jetbrains-mono';
@import '@fontsource/inter';
@import '@fontsource/roboto';

/* Tailwind */
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Roboto', Georgia, Cambria, serif;
  --font-mono: 'JetBrains Mono', monospace;

  /* Base (light) */
  --color-theme-bg: theme(--color-zinc-100); /* light background */
  --color-theme-fg: theme(--color-zinc-900); /* dark text */
  --color-accent: theme(--color-amber-600);
}

/* Dark overrides */
:root.dark {
  --color-theme-bg: theme(--color-zinc-900); /* dark background */
  --color-theme-fg: theme(--color-zinc-100); /* light text */
  --color-accent: theme(--color-amber-400);
}
